.attachment-preview {}

.attachment-preview iframe {
	border: none;
	width: 100%;
	height: 70vh;
}

.attachment-preview-title {
	cursor: pointer;
	color: #095AD2 !important;
}

.attachment-preview-title:hover {
	text-decoration: underline;
}
